.nav-route-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;

    @media screen and (max-width: 1025px) {
        display: none;
    }
}