@import './Navigation/main.scss';
@import './Wrapper/main.scss';
@import './Header/main.scss';
@import './Input/main.scss';
@import './Buttons/main.scss';
@import './Form/main.scss';
@import './Slider/main.scss';
@import './Categories\ Blocks/main.scss';
@import './Content\ Header/main.scss';