@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import './vars.scss';

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
    background-color: #f1f1f1;
}

#root {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none
}

@import './Components/main.scss';
@import './Pages/main.scss';