.nav-route-item {
    text-decoration: none;
    color: $text-color;
    transition: border-width 1s linear;
    text-shadow: 1px 0px 2px rgba(150, 150, 150, 0.68);
    text-align: center;
    white-space: nowrap;
    
    &::after {
        content: '';
        display: block;
        height: 2px;
        background-color: $primary-color;
        transition: transform .4s;
        transform: scaleX(0);
    }

    &:hover::after {
        transform: scaleX(1);
        width: 100%;
    }
}