.main-page-header {
    background-image: url('https://i.pinimg.com/originals/c0/28/74/c0287434920fd2812575ef322a3ac137.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}