.nav-burger-action {
    cursor: pointer;
    color: $text-color;
    font-size: 24px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;

    &:hover {
        background: rgba(0, 0, 0, 0.6);
        transition: .3s;
    }
}