.wrapper {
    width: 90%;
    margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    height: auto;

    @media screen and (max-width: 1025px) {
        width: 100%;
    }

    &.no-scroll {
        overflow: hidden;
    }
}